<div
  style="
    background-color: #f5f5f5;
    border-bottom: 1px solid #e3e3e3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.125);
    padding: 0.5rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
  "
>
  <div>
    <button routerLink="/home" routerLinkActive="active">Home</button>
    <button routerLink="/user" style="margin-left: 5px">User Dashboard</button>
    <button routerLink="/admin" style="margin-left: 5px">
      Admin Dashboard
    </button>
  </div>
  <div>
    <button routerLink="/login" routerLinkActive="active">Login</button>
    <button routerLink="/register" style="margin-left: 5px">Log out</button>
  </div>
</div>
